torch
pytorch-lightning
python-dotenv
hydra-core
hydra-colorlog
wandb
auraloss
yt-dlp
datasets
pyloudnorm
einops
omegaconf
rich
plotly
librosa
transformers
sentencepiece

audio-diffusion-pytorch
audio-data-pytorch
quantizer-pytorch
difformer-pytorch
a-transformers-pytorch
