torch
pytorch-lightning
python-dotenv
hydra-core
hydra-colorlog
wandb
auraloss
yt-dlp
datasets
pyloudnorm
einops
omegaconf
rich
plotly
librosa

audio-diffusion-pytorch
audio-data-pytorch
quantizer-pytorch
difformer-pytorch
